/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Newest products frontpage */

.front .node-product-type {
  margin: 0;
  padding: 0;
  border: none;
  width: 230px;
}

.front .all-products .views-row-first {
  margin: 0;
  padding: 0;
}

.front .all-products .views-row {
    margin: 0;
    padding: 0;
}

.front .node-product-type div.field-items {
  display: inline;
  height: auto;
  margin: 0;
  padding-bottom: 20px;
  width: 225px;
  float: left;
}

.front .node-product-type div.field-items h2 {
  font-size: 14px;
  height: 20px;
  margin: 0 4px;
}

.front .node-product-type div.field-items .field-name-commerce-price {
  color: #ccc;
  font-size: 12px;
  margin-bottom: 5px;
  text-decoration: none;
  display: block;
}

/* Related products in blog */

.field-name-field-related-products div.field-items .node {
    display: inline;
    height: auto;
    margin: 0;
    padding-right: 5px;
    padding-bottom: 30px;
    width: 230px;
    float: left;
}

.field-name-field-related-products div.field-items .node h2 {
    font-size: 14px;
    line-height: 16px;
    height: 35px;
    margin: 0 4px;
}

.field-name-field-related-products div.field-items .node .field-name-commerce-price {
    color: #ccc;
    font-size: 12px;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
}

/* Payment cards */

#block-menu-menu-payment-methods ul.menu li .dankort {
    background-image: url(/sites/discimport.dk/themes/frisbee/images/dankort.gif);
}

#block-menu-menu-payment-methods ul.menu li .mastercard {
    background-image: url(/sites/discimport.dk/themes/frisbee/images/mastercard.gif);
}

#block-menu-menu-payment-methods ul.menu li .visa {
    background-image: url(/sites/discimport.dk/themes/frisbee/images/visa.gif);
}

#block-menu-menu-payment-methods ul.menu li .maestro {
    background-image: url(/sites/discimport.dk/themes/frisbee/images/3d-maestro.gif);
}

/* Commerce Add To Cart Extras */

#views-form-add-to-cart-table-block-1 .form-submit {
    background-color: #2698F2;
    background-image: url(/profiles/commerce_kickstart/themes/omega_kickstart/images/bg_add_to_cart.png);
    background-position: 90% 50%;
    background-repeat: no-repeat;
    border: 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 5px;
    padding: 5px 50px 5px 10px;
}
